.navbar{
    background-color:transparent;
}
.page1{
    padding-top:100px;
    height:100vh;
    background-image:radial-gradient(rgba(0, 0, 0, 0.7)),url('https://assets.nflxext.com/ffe/siteui/vlv3/e94073b0-a056-402f-9015-16cb1e7e45c2/web/IN-en-20251110-TRIFECTA-perspective_46e74acc-70aa-4691-988a-dbcf958149d1_large.jpg');
}
#nl{
    margin-left:50px;
    margin-right:50px;
    color:red;
    font-size:18px;
}

.page1-des{
    color:white;
    font-size:3rem;
    font-family:netfilx-sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    font-weight:700;
    font-style:bold;
}
.page1-des-s{
    color:white;
}
.page1-data{
    margin-right:20vw;
    margin-left:20vw;
}
.ef{
    height:55px;
    width:300px;
    background-color:black;
    border:2px solid white;
    border-radius:6px;
    color:red;
}
.btns{
    height:55px;
    width:180px;
    border-radius:4px;
    background-color:red;
    border:solid 1px red;
    color:white;
    font-size:22px;
    font-weight:600;
    font-family:sans-serif
}
.page2{
    background-image:radial-gradient(rgba(0, 0, 0, 0.7)),url('https://wallpapers.com/images/hd/netflix-background-6eijmcazwfrb9u6w.jpg');
    height:110vh;
    text-align:center;
}
.p2-title{
    color:white;
    font-size:3rem;
    font-family:netfilx-sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    font-weight:700;
    font-style:bold;
}
.m1{
    height:200px;
    width:150px;
    padding:10px;
    border-radius:18px;
    transition-duration:1s;
}
.m1:hover{
    transform:scale(1.6);
}
.mv-title{
    color:white;
    font-size:22px;
    font-weight:600;
}
.p2-mv{
    height:200px;
    width:150px;
    text-align:center;
    margin:30px;
}
.movies{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
}
.page3{
    background-image:radial-gradient(rgba(0, 0, 0, 0.7)),url('https://img.freepik.com/free-photo/abstract-red-background-vertical-lines-strips_1258-108652.jpg?semt=ais_hybrid&w=740&q=80');
    height:110vh;
    background-size:cover;
    text-align:center;
}
.Series{
    display:flex;
    flex-direction:row;
    margin:25px;
    flex-wrap:wrap;
}
.typewrap { 
    width: 100%;
    padding: 20px;
  }
  
  .typewriter{
    display: inline-block;         
    font-family: monospace;
    white-space: nowrap;
    overflow: hidden;
    COLOR:RED;
    border-right: .15em solid RED; 
    width: 0;
    animation: typing 3.2s steps(30, end) forwards,
               blink-caret .75s step-end infinite;
    font-size: 20px;
    box-sizing: content-box; 
  }
  
  @keyframes typing {
    from { width: 0; }
    to   { width: 22ch; } 
  }
  
  @keyframes blink-caret {
    50% { border-color: transparent; }
    0%,100% { border-color: RED; }
  }
  